<div id="organizing-clubs" class="text-center col-12 p-2 mb-1 ">
   <h1 >Organizers</h1>
    <a href="https://www.facebook.com/dramaticsiitr/"><img  class="club p-2" src="/Images/OrganizerImages/DramaticSection.jpg" alt="DramaticSectionl_icon"></a>
    <a href="https://www.facebook.com/ncc.iitr/"><img class="club p-2" src="/Images/OrganizerImages/NCC.jpg" alt="NCC_icon"></a>
    <a href="https://www.facebook.com/nssiitr"><img class="club p-2" src="/Images/OrganizerImages/NSS.jpg" alt="NSS_icon"></a>
    <a href="https://www.iitr.ac.in/sanskritclub/courses.html"><img class="club p-2" src="/Images/OrganizerImages/SanskritClub.jpg" alt="SanskritClub_icon"></a>
    <a href="http://watchout.iitr.ac.in/"><img class="club p-2" src="/Images/OrganizerImages/WatchOut.jpg" alt="WatchOut_icon"></a>
    <a href="https://www.facebook.com/choreo.iitr/"><img class="club p-2" src="/Images/OrganizerImages/choreoSection.png" alt="WatchOut_icon"></a>
  </div>

</body>
</html>
