<%- include('partials/Header') -%>

   <div class="text-center events mb-2 container" >
      <h1>Events</h1>
    <div class="culural-event text-center list-group">
      <h4>Cultural Events</h4>
       <div class="list-group">
         <a href="/events/fit-India" class="list-group-item">Fit India Run</a>
         <a href="/events/street-play" class="list-group-item">Street Play</a>
          <a href="/events/dance-competition" class="list-group-item">Dance Competition</a>
         <a href="/events/song-competition" class="list-group-item">Patrotic Song Competition</a>
       </div>
    </div>

    <div class="technical-event text-center">
      <h4>Technical Events</h4>
       <div class="list-group">
         <a href="/events/poster-design" class="list-group-item">Poster Design</a>
         <a href="/events/essay-writing" class="list-group-item">Essay Writing</a>
         <a href="/events/indian-history-quiz" class="list-group-item">Quiz on Indian History</a>
       </div>
    </div>
 </div>
<%- include('partials/footer') -%>
