<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Message</title>
    <style media="screen">
      body{
        padding:40vh 0;
        text-align:center;
      }
      .message-container{
        margin:auto;
        min-height:60px;
        max-width:60vw;
        border:2px solid black;

      }
      h1{
        color:white;
      }
    </style>
  </head>
  <body >
     <div class="message-container">
       <h1 class="notification-message"><%=message%></h1>
      </div>
  </body>
</html>
